body {
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: #000000;
}

form {
	width: 400px;
	border: 30px double #ffffff;
	border-radius: 40px;
	background-color: #cccccc;
	background-clip: padding-box;
	box-sizing: border-box;
	padding: 10px;
	margin: 40px auto;
	transition: background-color 2s linear;
}

h1 {
	text-align: center;
	color: #cccccc;
	transition: font-size 2s linear;
}